/* General body styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #5787b1; 
    margin: 0;
    padding: 0;
    text-align: center;
    color: #333;
          /* Prevent repeating the background image */
}

#poster {
    background-image: url('../public/images/trivia_poster.webp');  /* Set background image */
    background-size:contain;                  /* Ensure the image covers the entire container */
    background-position:center;             /* Center the background image */
    background-repeat: no-repeat;  
}

/* .container{

} */
/* Header for game title */
h1, h2, h3 {
    color: #000000;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 3rem;
    margin-top: 30px;
    color: #863e74; 
}

h2 {
    font-size: 2rem;
    color: #33b5e5; 
}

h3 {
    font-size: 1.5rem;
    color: #863e74; 
}

/* Dropdown styling */
select {
    margin: 10px;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 5px;
    background-color: #bead4d; 
    color: #000000;
    font-size: 18px;
    cursor: pointer;
}

select:focus {
    outline: none;
    border-color: red; 
}

/* Start button */
button {
    margin-top: 20px;
    padding: 15px 25px;
    background-color: #ff5733; 
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #c70039; 
}


#questions {
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: #fff8dc; 
}

li {
    list-style: none;
    margin: 10px 0;
    padding: 10px 15px;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: #245364; 
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

li:hover {
    background-color: #50c878; 
    transform: scale(1.05);
}

.feedback {
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
}

.feedback.correct {
    color: green;
}

.feedback.wrong {
    color: red;
}
